@font-face {
  font-family: 'righteous';
  src: url("../fonts/Righteous-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'roboto-slab';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'roboto-slab';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'roboto-slab';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 800; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 15px;
  font-family: roboto-slab, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.scrollup__button__wrapper {
  background-color: #ff811c;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: #ff811c;
  position: fixed;
  font-size: 22px;
  left: 95%;
  top: 90%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease, top .3s ease; }
  .scrollup__button__wrapper:hover {
    background-color: #e86700;
    color: #e86700; }

.hidden {
  top: 100%;
  transition: top .3s ease; }

.scrollup__button {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.main__header {
  position: absolute;
  top: 0;
  left: 0;
  height: 159px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px; }

.main__logo {
  font-size: 30px;
  font-family: righteous, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px; }
  .main__logo a {
    color: #fff; }
    .main__logo a span {
      color: #ff811c; }

.main__nav {
  font-size: 16px;
  text-transform: uppercase; }
  .main__nav a {
    color: #fff; }

.main__nav__element {
  margin-left: 30px;
  transition: color .3s ease;
  position: relative; }
  .main__nav__element:hover {
    color: #ff811c; }
    .main__nav__element:hover:before {
      opacity: 1; }
  .main__nav__element:before {
    content: "";
    position: absolute;
    top: 90px;
    background-color: #ff811c;
    height: 3px;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease; }
  .main__nav__element:nth-child(1) {
    margin-left: 0; }

.main__nav__element__active:before {
  opacity: 1; }

.section__home {
  background: url("../img/home.jpg") no-repeat center;
  background-size: cover;
  height: 855px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }

.home__title {
  font-size: 105px;
  font-family: montserrat, sans-serif;
  font-weight: 800;
  margin-top: 113px;
  position: relative; }

.home__line {
  background-color: #fff;
  margin-top: 40px;
  width: 8%;
  height: 5px; }

.home__descr {
  font-family: roboto-slab, sans-serif;
  font-size: 18px;
  margin-top: 48px;
  letter-spacing: 2px; }

.section__home__buttonset {
  margin-top: 49px;
  width: 390px;
  display: flex;
  justify-content: space-between; }

.button {
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-weight: 900;
  font-size: 17px;
  background-color: #ff811c;
  border: none;
  width: 180px;
  height: 68px;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s ease;
  border: 4px solid #ff811c; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0); }

.button__read__more {
  border: 4px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .3s ease, color .3s ease; }
  .button__read__more:hover {
    background-color: white;
    color: #ff811c; }

.section__about {
  padding-top: 190px;
  padding-bottom: 200px; }

.about__wrapper {
  width: 1168px;
  margin: 0 auto 50px auto; }

.about__descr {
  font-family: roboto-slab, sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.2; }

.about__line {
  background-color: #000;
  margin-top: 50px;
  margin-bottom: 74px;
  width: 8.5%;
  height: 5px; }

.about__title {
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-size: 47px; }

.cameras__wrapper {
  display: flex; }

.camera__img {
  height: 290px; }

.camera__small__wrapper {
  width: 50%; }
  .camera__small__wrapper .button__read__more {
    color: #000;
    border: #000 solid 4px;
    transition: background-color .3s ease, color .3s ease; }
    .camera__small__wrapper .button__read__more:hover {
      background-color: #1b1613;
      color: #ff811c; }

.camera__descr {
  font-family: roboto-slab;
  font-size: 18px;
  width: 395px;
  margin-top: 50px;
  opacity: 0.7;
  font-weight: 300;
  margin-bottom: 50px; }

.camera__descr__wrapper__left {
  float: right;
  margin-right: 70px; }

.camera__descr__wrapper__right {
  margin-left: 70px; }

.img__camera1 {
  background: url("../img/camera1.jpg");
  background-position: center;
  background-size: cover; }

.img__camera2 {
  background: url("../img/camera2.jpg");
  background-position: center;
  background-size: cover; }

.services__wrapper {
  display: flex; }

.services__content {
  background-color: #1b1613;
  color: #fff;
  padding-top: 230px;
  padding-left: 250px;
  padding-bottom: 230px;
  width: 55%; }

.services__small__header {
  font-family: roboto-slab;
  font-size: 35px;
  font-weight: 300; }

.services__line {
  background-color: #fff;
  margin-top: 40px;
  width: 20%;
  height: 5px; }

.services__big__header {
  margin-top: 50px;
  font-family: montserrat;
  font-size: 47px;
  font-weight: 300;
  text-transform: uppercase; }

.services__descr {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
  width: 415px; }

.services__list__wrapper {
  width: 45%;
  background: url("../img/services1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

.services__list {
  margin-top: 300px;
  margin-left: 100px;
  display: flex;
  flex-direction: column; }

.services__list__element {
  margin-bottom: 20px;
  color: #ff811c;
  font-family: roboto-slab;
  font-size: 28px;
  font-weight: 400;
  transition: color .3s ease; }
  .services__list__element:hover {
    color: #fff; }

.service__elements {
  display: grid;
  grid-template-columns: 50% 50%; }

.service__element {
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  z-index: 1; }
  .service__element:hover:before {
    opacity: 1;
    top: 50%; }
  .service__element:hover .services__img__header {
    margin-top: 75%; }
  .service__element:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #1b1613;
    transition: top .3s ease, opacity .3s ease;
    z-index: -100;
    opacity: 0; }

.weddings {
  background: url("../img/weddings.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.birthdays {
  background: url("../img/birthdays.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.portrait {
  background: url("../img/portrait.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.motion {
  background: url("../img/motion.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.services__img__header {
  font-family: montserrat, sans-serif;
  font-size: 58px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  transition: margin-top .3s ease; }

.section__vision {
  position: relative;
  z-index: 400; }

.vision__wrapper {
  display: flex; }

.vision__content {
  background-color: #ff811c;
  color: #fff;
  padding-top: 230px;
  padding-left: 250px;
  padding-bottom: 180px;
  width: 50%; }

.vision__small__header {
  font-family: roboto-slab;
  font-size: 35px;
  font-weight: 300; }

.vision__line {
  background-color: #fff;
  margin-top: 40px;
  width: 20%;
  height: 5px; }

.vision__big__header {
  margin-top: 50px;
  font-family: montserrat;
  font-size: 47px;
  font-weight: 300;
  text-transform: uppercase; }

.vision__descr {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
  width: 415px; }

.vision__list__wrapper {
  width: 50%;
  background: url("../img/vision.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

.gallery {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px; }
  .gallery .button__read__more {
    border: 4px solid #1b1613;
    color: #1b1613;
    transition: background-color .3s ease, color .3s ease; }
    .gallery .button__read__more:hover {
      background-color: #1b1613;
      color: #ff811c; }

.gallery__header {
  text-align: center;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-size: 47px;
  font-weight: 400; }

.gallery__line {
  margin: 0 auto;
  background-color: #000;
  margin-top: 10px;
  width: 10%;
  height: 5px; }

.gallery__wrapper {
  display: grid; }

.gallery__wrapper1 {
  margin-top: 60px;
  grid-template-columns: repeat(3, 1fr); }

.gallery__wrapper2 {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px; }

.snap {
  height: 550px;
  position: relative;
  cursor: pointer;
  transition: background-size .3s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .snap:hover img {
    height: 130%; }
  .snap:hover .plus {
    opacity: 1; }
  .snap img {
    object-fit: cover;
    height: 110%;
    transition: height .5s ease-out;
    z-index: -1; }
  .snap:hover {
    background-size: 250%; }
    .snap:hover:before {
      background-color: rgba(0, 0, 0, 0.6); }
  .snap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    transition: background-color .3s ease; }

.plus {
  height: 65px;
  width: 65px;
  border: 6px solid #ff811c;
  z-index: 100;
  border-radius: 12px;
  opacity: 0;
  transition: opacity .3s ease;
  position: absolute; }

.plus__line {
  background: #ff811c;
  height: 43px;
  width: 6px;
  position: relative;
  top: 5px;
  left: 23px;
  border-radius: 2px; }
  .plus__line:after {
    content: "";
    height: 6px;
    width: 43px;
    background: #ff811c;
    position: absolute;
    left: -18px;
    top: 18px;
    border-radius: 2px; }

.section__contacts {
  padding-top: 100px;
  background-color: #1b1613;
  color: #fff;
  display: flex;
  justify-content: center; }

.contacts__wrapper {
  width: 1170px;
  display: flex;
  justify-content: space-between; }

.contacts__form__wrapper {
  width: 470px; }

.contacts__small__header {
  font-family: roboto-slab;
  font-size: 38px;
  font-weight: 300;
  width: 380px;
  line-height: 1.2; }

.contacts__line {
  background-color: #fff;
  margin-top: 40px;
  width: 23.5%;
  height: 5px; }

.contacts__big__header {
  margin-top: 80px;
  font-family: montserrat;
  font-size: 47px;
  font-weight: 300;
  text-transform: uppercase; }

.contacts__form {
  margin-top: 90px; }

.form__input {
  height: 55px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4a4a44;
  font-family: 'roboto-slab';
  border: none;
  width: 100%;
  margin-top: 5px;
  color: #fff;
  outline: none; }
  .form__input::-webkit-input-placeholder {
    color: #fff; }
  .form__input::-moz-placeholder {
    color: #fff; }

.form__textarea {
  height: auto; }

.form__button {
  margin-top: 20px; }

.map__wrapper {
  width: 600px; }

#map {
  width: 100%;
  height: 600px; }

.social__networks {
  margin-top: 50px;
  display: flex;
  flex-direction: column; }

.social__networks__element {
  margin-bottom: 15px;
  color: #ff811c;
  font-family: roboto-slab;
  font-size: 28px;
  font-weight: 400;
  transition: color .3s ease; }
  .social__networks__element:hover {
    color: #fff; }

.main__footer {
  display: flex;
  justify-content: center;
  background-color: #1b1613;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  padding-top: 70px;
  padding-bottom: 50px; }

.footer__text {
  width: 1170px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main__logo {
    font-size: 26px; }
  .main__nav {
    font-size: 14px; }
  .main__nav__element {
    margin-left: 25px; }
  .home__title {
    font-size: 85px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main__logo {
    font-size: 23px; }
  .main__nav {
    font-size: 13px; }
  .main__nav__element {
    margin-left: 10px; }
  .home__title {
    font-size: 65px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main__logo {
    font-size: 22px; }
  .main__nav {
    font-size: 12px; }
  .main__nav__element {
    margin-left: 10px; }
  .home__title {
    font-size: 55px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
