@font-face {
  font-family: 'righteous';
  src: url("../fonts/Righteous-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'roboto-slab';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'roboto-slab';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'roboto-slab';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 800; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 15px;
  font-family: roboto-slab, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.main__header {
  position: absolute;
  top: 0;
  left: 0;
  height: 159px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px; }

.main__logo {
  font-size: 30px;
  font-family: righteous, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px; }
  .main__logo a {
    color: #fff; }
    .main__logo a span {
      color: #ff811c; }

.main__nav {
  font-size: 16px;
  text-transform: uppercase; }
  .main__nav a {
    color: #fff; }

.main__nav__element {
  margin-left: 60px;
  transition: color .3s ease;
  position: relative; }
  .main__nav__element:hover {
    color: #ff811c; }
    .main__nav__element:hover:before {
      opacity: 1; }
  .main__nav__element:before {
    content: "";
    position: absolute;
    top: 90px;
    background-color: #ff811c;
    height: 3px;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease; }

.main__nav__element__active:before {
  opacity: 1; }

.section__home {
  background: url("../img/home.jpg") no-repeat center;
  background-size: cover;
  height: 855px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }

.home__title {
  font-size: 105px;
  font-family: montserrat, sans-serif;
  font-weight: 800;
  margin-top: 113px;
  position: relative; }

.line {
  height: 5px;
  width: 107.5px; }

.home__line {
  background-color: #fff;
  margin-top: 40px; }

.home__descr {
  font-family: roboto-slab, sans-serif;
  font-size: 18px;
  margin-top: 48px;
  letter-spacing: 2px; }

.section__home__buttonset {
  margin-top: 49px;
  width: 390px;
  display: flex;
  justify-content: space-between; }

.button {
  font-family: montserrat, sans-serif;
  font-weight: 900;
  font-size: 17px;
  background-color: #ff811c;
  border: none;
  width: 180px;
  height: 68px;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s ease;
  border: 4px solid #ff811c; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0); }

.button__read__more {
  border: 4px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .3s ease, color .3s ease; }
  .button__read__more:hover {
    background-color: white;
    color: #ff811c; }

.about__descr {
  font-family: roboto-slab, sans-serif;
  font-size: 35px;
  font-weight: 300;
  width: 1100px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
