@import "base"

.main__header
	position: absolute
	top: 0
	left: 0
	height: 159px
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 50px

.main__logo
	font-size: 30px
	font-family: righteous
	text-transform: uppercase
	letter-spacing: 4px
	a
		color: #fff
		span
			color: $accent

.main__nav
	font-size: 16px
	text-transform: uppercase
	a
		color: #fff

.main__nav__element
	margin-left: 60px
	transition: color .3s ease
	position: relative
	&:hover
		color: $accent
		&:before
			opacity: 1
	&:before
		content: ""
		position: absolute
		top: 90px
		background-color: $accent
		height: 3px
		width: 100%
		opacity: 0
		transition: opacity .3s ease

.main__nav__element__active
	&:before
		opacity: 1

.section__home
	background: url('../img/home.jpg') no-repeat center
	background-size: cover
	background-position: 
	height: 855px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	color: #fff

.home__title
	font-size: 105px
	font-family: montserrat
	font-weight: 800
	margin-top: 113px
	position: relative

.home__line
	background-color: #fff
	height: 5px
	width: 107.5px
	margin-top: 40px

.home__descr
	font-family: roboto-slab
	font-size: 18px
	margin-top: 48px
	letter-spacing: 2px

.section__home__buttonset
	margin-top: 49px
	width: 390px
	display: flex
	justify-content: space-between

.button
	font-family: montserrat, sans-serif
	font-weight: 900
	font-size: 17px
	background-color: $accent
	border: none
	width: 180px
	height: 68px
	color: #fff
	cursor: pointer
	transition: background-color .3s ease
	border: 4px solid $accent
	&:hover
		background-color: rgba(255, 255, 255, 0)

.button__read__more
	border: 4px solid #fff
	background-color: rgba(255, 255, 255, 0)
	transition: background-color .3s ease, color .3s ease 
	&:hover
		background-color: rgba(255, 255, 255, 1)
		color: $accent


@import "media"